<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en" th:replace="layout :: head">
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
      <!--header start-->
   <div th:replace="layout :: header"></div>
		<div th:replace="layout :: aside"></div>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-files-o"></i> Form Validation</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a th:href="${'/smais/admin'}">Home</a></li>
						<li><i class="icon_document_alt"></i>Entri Data</li>
						<li><i class="fa fa-files-o"></i>Guru</li>
					</ol>
				</div>
			</div>
              <!-- Form validations -->              
              <div class="row">
                  <div class="col-lg-8">
                      <section class="panel">
                          <header class="panel-heading">
                             Masukkan Data Siswa
                          </header>
                          <div class="panel-body">
                              <div class="form">
                     			  <form class="form-validate form-horizontal " id="register_form" th:object="${guru}" th:action="@{/createGuru}" method="post">

                                      <div class="form-group ">
                                          <label for="fullname" class="control-label col-lg-2">NIP <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="nip" name="nip" type="text" th:field="*{nip}"/>
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="fullname" class="control-label col-lg-2">Username <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="username" name="username" type="text"  th:field="*{userName}"  />
                                          </div>
                                      </div>
                                     
                                      <div class="form-group ">
                                          <label for="fullname" class="control-label col-lg-2">Nama Lengkap Guru <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="fullname" name="fullname" type="text" th:field="*{namaGuru}"/>
                                          </div>
                                      </div>

               
                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">ID Mata Pelajaran <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="matapelajaran" name="matapelajaran" type="text" th:field="*{idMataPelajaran}"/>
                                          </div>
                                      </div>
                                                                            
                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">Tempat Kelahiran <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="tempatkelahiran" name="tempatkelahiran" type="text" th:field="*{tempatLahir}"/>
                                          </div>
                                      </div>
                                    
                                      
                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">Tanggal Lahir <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="tanggallahir" name="tanggallahir" type="text" th:field="*{tanggalLahir}"/>
                                          </div>
                                      </div>


                                  <div class="form-group">
                                      <label class="control-label col-lg-2" for="inputSuccess">Jenis Kelamin <span class="required">*</span></label>
                                      <div class="col-lg-10">


                                          <div class="radio" >
                                              <label>
                                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="Laki-Laki" th:field="*{jenisKelamin}"  />
                                                  Laki-Laki
                                              </label>
                                          </div>
                                          <div class="radio">
                                              <label>
                                                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="Perempuan" th:field="*{jenisKelamin}"/>
                                                  Perempuan
                                              </label>
                                          </div>

                                      </div>
                                  </div>  

                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">Agama <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="agama" name="agama" type="text" th:field="*{agama}"/>
                                          </div>
                                      </div> 

                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">Alamat <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="alamat" name="alamat" type="text" th:field="*{alamat}"/>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">Pendidikan Terakhir <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="kelas" name="kelas" type="text" th:field="*{pendidikanTerakhir}"/>
                                          </div>
                                      </div>                                      
                                      

                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">No Telepon / HP<span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="telp" name="telp" type="text" th:field="*{noTelp}"/>
                                          </div>
                                      </div>                                              

                                      <div class="form-group ">
                                          <label for="address" class="control-label col-lg-2">Golongan <span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class=" form-control" id="gol" name="gol" type="text" th:field="*{golongan}"/>
                                          </div>
                                      </div>                                                                       

                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button class="btn btn-primary" type="submit">Save</button>
                                              <button class="btn btn-default" type="button">Cancel</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
      <div class="text-right">
        <div class="credits">
            <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
  </section>
  <!-- container section end -->

    <!-- javascripts -->
    
    <div th:replace="layout :: script"></div>


  </body>
</html>
